<div class="overlayMenuSymbols" onmouseover="onMouseOver()" onmouseleave="onMouseLeave()">
    <!--
    fixed pictures
    -->
    <a href="index.html">
        <img src="./img/image-regular.png" class="overlayMenuPhotosImage">
    </a>

    <a href="trash.html">
        <img src="./img/trash-solid.png" class="overlayMenuTrashImage">
    </a>
</div>


<!--
slide text
-->
<div class="overlay-menu" id="burgerMenu" onmouseover="onMouseOver()" onmouseleave="onMouseLeave()">

    <a href="index.html">
        <div class="overlayMenuPhotos" style="background: #E8F0FE">
            <h3>Photo Gallery</h3>
        </div>
    </a>

    <a href="trash.html">
        <div class="overlayMenuTrash" style="background: #ffffff">
            <h3>Trash</h3>
        </div>
    </a>

</div>